KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/bios.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/ps2.o \
$(ARCHDIR)/timer.o \
